<?xml version="1.0" encoding="utf-8"?>
<!--
This is the Android Manifest file. It provides essential information about the application to the Android system.
This information includes the package name, application components (activities, services, broadcast receivers, and content providers),
and the permissions that the application requires.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
    The <uses-permission> element requests a permission that the application must be granted by the user in order to operate correctly.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
    The <application> element declares the application. It's the container for the application's components.
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        The <activity> element declares an activity, which is a single, focused thing that the user can do.
        This is the main activity of the application.
        -->
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <!--
            The <intent-filter> specifies the types of intents that an activity, service, or broadcast receiver can respond to.
            This intent filter declares that this activity is the main entry point of the application and should be listed in the app launcher.
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
        The <provider> element declares a content provider component.
        This FileProvider is used to share files securely with other apps.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
